{% extends 'base.html' %}
{% load static %}
{% block title %} Cambiar Password {% endblock title %}

{% block Content %}
    <link href=" {% static 'BlogTecnoWave/css/registration/change_password.css' %}" rel="stylesheet" /> 
    <div class="changepass-container">
        <h1>Cambiar Password...</h1>
        <br/><br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Cambiar Password</button>
        </div>
        <br/><br/>
        <ul>
            <li>Tu contraseña no puede ser demasiado similar a tu otra información personal.</li>
            <li>Tu contraseña debe contener al menos 8 caracteres.</li>
            <li>Tu contraseña no puede ser una contraseña comúnmente utilizada.</li>
            <li>Tu contraseña no puede ser completamente numérica.</li>
        </ul>
    </div>

{% endblock Content %}