{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block Content %}
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 50px 0 50px 0;">
        <h1 style="margin-bottom: 30px;">Perfil de {{ page_user }}</h1>

        <div class="card" style="max-width:700px;">
            <div class="d-inline-flex">
                <div>
                {% if page_user.profile_pic %}    
                    <img src="{{ page_user.profile_pic.url }}" width="200px">
                {% else %}
                    <img src="{% static 'BlogTecnoWave/images/Generic-Profile-Image.png' %}" height=100 width=100>
                {% endif %}   
                </div>
                <div class="">
                    <div class="card-body">
                        <h5 class="card-title"> 
                            {{ page_user.user.first_name }} 
                            {{ page_user.user.last_name }}
                        </h5>
                        <p class="small text-muted">
                            
                            {% if page_user.website_url %}
                                | <a href="{{page_user.website_url}}">Website</a> 
                            {% endif %}       
                            
                            {% if page_user.fb_url %}
                                | <a href="{{page_user.fb_url}}">Facebook</a> 
                            {% endif %}       
                            
                            {% if page_user.twitter_url %}
                                | <a href="{{page_user.twitter_url}}">Twitter</a> 
                            {% endif %}

                            {% if page_user.instagram_url %}
                                | <a href="{{page_user.instagram_url}}">Instagram</a>
                            {% endif %}
                                
                            {% if page_user.pinterest_url %}
                                | <a href="{{page_user.pinterest_url}}">Pinterest</a>
                            {% endif %}
                                
                        </p>
                        <p class="card-text">{{ page_user.bio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock Content %}