{% extends 'base.html' %}
{% block title %} Acerca de Felipe García {% endblock title %}

{% block Content %}  
    <div style="display: flex; flex-direction:column; align-items:center; justify-content:center; margin: 50px 0 50px 0;">
        <h1 style="margin-bottom: 50px;">Acerca de mí</h1>
        <div style="display: flex;">
            <div style="width: 600px; margin-top: 50px;">
                <p>Soy una persona apasionada y altamente motivada, especializada en diseño UI/UX, cloud computing con AWS y desarrollo web full-stack con Javascript, Angular, Vue, React, Redux, Node, Express, MongoDB y PostgresSQL. Me esfuerzo por crear soluciones innovadoras y de alta calidad que impulsan el éxito de los proyectos en los que participo.</p>
                <div>
                    <a
                    class=""
                    target="_blank"
                    rel="noreferrer"
                    href='https://www.linkedin.com/in/luis-felipe-garciarom/'>
                        Linkedin
                    </a>
                    <span> - </span>
                    <a
                        class=""
                        target="_blank"
                        rel="noreferrer"
                        href='https://github.com/fellgar246'>
                        Github
                    </a>
                    <span> - </span>
                    <a
                        class=""
                        target="_blank"
                        rel="noreferrer"
                        href='https://www.behance.net/felipegarcia84'>
                        Behance
                    </a>
                    <span> - </span>
                    <a
                    class=""
                    target="_blank"
                    rel="noreferrer"
                    href='https://www.felipegarcia.info/'>
                    Portafolio
                    </a>
                </div>
            </div>
            <img
            class="image-profile"
            src="https://res.cloudinary.com/dvvqbwhcc/image/upload/v1687553440/PORTFOLIO/3_yi47qs.png"
            style="width:380px;"
            alt=""></img>
    </div>

{% endblock Content %}