{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 
    {% block title %}
        Blog Tecno Wave
    {% endblock title %}
         </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href=" {% static 'BlogTecnoWave/css/base.css' %}" rel="stylesheet" />
    <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'Home' %}">Tecno Wave</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- Category Menu Code -->
              {% if category_menu %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Categorias</a>
                  <ul class="dropdown-menu">                        
                    {% for item in category_menu %}
                    <li><a class="dropdown-item" href="{% url 'Category' item|slugify %}" style="text-transform:capitalize;"> {{item}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'CategoryList' %}">Categorías</a>
                </li>
              {% endif %}

              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'AddPost' %}">Crear Post</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'AddCategory' %}">Crear Categoría</a>
                </li>
                {% endif %} 
              {% else %} 
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
              {% endif %}
            </ul>
            <div class="col-6">
            </div>
            {% if user.is_authenticated %}
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Mi usuario</a>
                  <ul class="dropdown-menu">                        
                    {% if user.profile.id  %}
                      <a href="{% url 'ShowProfilePage' user.profile.id %}" class="dropdown-item">Ver Perfil</a>
                      <a href="{% url 'EditProfilePage' user.profile.id %}" class="dropdown-item">Editar Página de Perfil</a>
                    {% else %}
                      <a href="{% url 'CreateProfilePage' %}" class="dropdown-item">Crear Página de Perfil</a>
                    {% endif %}
                    <a href="{% url 'EditProfile' %}" class="dropdown-item">Editar Usuario</a>
                    <a href="{% url 'logout' %}" class="dropdown-item">Cerrar Sesión</a>
                  </ul>
                </li>

              </ul>
            {% endif %}
          </div>
        </div>
    </nav>
    <main>
    {% block Content %}
      
    {% endblock Content %}
    </main>
    <footer class="bg-body-tertiary">
      <a class="text-decoration-none" href="{% url 'About' %}">Acerca de Luis Felipe García</a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>