{% extends 'base.html' %}
{% block title %}Categorías del Blog{% endblock title %}

{% block Content %}
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin: 50px 0 50px 0;">
        <h1 style="margin-bottom: 30px;">Categorías</h1>  
        <div>                    
        {% for item in category_menu_list %}
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <a class="card-title" href="{% url 'Category' item|slugify %}" style="text-transform:capitalize; text-decoration:none;"> {{ item}}</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock Content %}